@{
    Layout = "~/Views/Shared/_InformationLayout.cshtml";
}
@{
    ViewData["Title"] = "Smart Budget Tracker: Expense Management Solutions - About Us";
}
<h1>@ViewData["Title"]</h1>

<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/logo-no-background.png" alt="Budget Tracker Logo" class="img-fluid mb-3">
            <p>Budget Tracker is your personal financial assistant designed to make managing your finances easier. Whether it's tracking income, planning a budget, or reviewing your spending habits, our application helps you stay on top of your financial goals. Our mission is to provide an intuitive tool for users to track their financial health, helping them plan, save, and spend wisely.</p>
            <ul>
                <li>Track your monthly income from various sources like salary, interest, and loans.</li>
                <li>Set personalized budgets for categories such as "Family Entertainment", "Electricity Bill", "Children's Education", and more.</li>
                <li>Visualize your spending habits with easy-to-understand bar charts and pie charts, helping you stay within your budget.</li>
                <li>Analyze your savings, total spending, and how much you spend on each category, making it easier to make adjustments and achieve your financial goals.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>The Team</h2>
            <p>Our team is passionate about personal finance and helping individuals achieve financial freedom. We come from diverse backgrounds in technology and finance, united by our goal of creating a simple yet powerful tool that everyone can use to master their budgets. </p>
        </div>
    </div>
</div>
