@{
    Layout = "~/Views/Shared/_InformationLayout.cshtml";
}

@{
    ViewData["Title"] = "Smart Budget Tracker: Protecting Your Financial Data - Contact Confirmation";
}

<h2>Contact Confirmation</h2>
<p>Thank you for reaching out to us. We have received your message and will get back to you soon.</p>