@{
    Layout = "~/Views/Shared/_InformationLayout.cshtml";
}
@{
    ViewData["Title"] = "Smart Budget Tracker: Protecting Your Financial Data - Disclaimer";
}
<h1>@ViewData["Title"]</h1>


<div class="container py-5">
    <p>The information provided on this website (https://www.budgetplannertool.com) is for informational purposes only and should not be construed as professional financial advice. Budget Tracker ("we," "us," or "our") makes no warranties, expressed or implied, about the accuracy, completeness, or reliability of the content on this website.</p>

    <p>Any action you take based on the information you find on this website is strictly at your own risk. We will not be liable for any losses or damages arising from the use of the information on this website.</p>

    <h2 class="h3 mt-5">External Links</h2>
    <p>This website may contain links to external websites that are not maintained or provided by us. We are not responsible for the content, accuracy, or opinions expressed on these external websites.</p>

    <h2 class="h3 mt-5">Comments</h2>
    <p>Comments posted on this website are the opinions of the respective authors and do not necessarily reflect the views of Budget Tracker. We reserve the right to edit or remove comments that we find inappropriate or offensive.</p>

    <h2 class="h3 mt-5">Changes to this Disclaimer</h2>
    <p>We may update this disclaimer from time to time. You are encouraged to review this page periodically for any changes.</p>

    <h2 class="h3 mt-5">Contact Us</h2>
    <p>If you have any questions about this disclaimer, please contact us at contact@jeeaitech.com.</p>
</div>
