@{
    Layout = "~/Views/Shared/_InformationLayout.cshtml";
}
@{
    ViewData["Title"] = "Smart Budget Tracker: Protecting Your Financial Data - Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container py-5">
    <p>This privacy policy outlines how Budget Tracker ("we," "us," or "our") collects, uses, and discloses information from users (you) who visit our website https://www.budgetplannertool.com, a tool designed to help you manage your finances and track your budget.</p>

    <h2 class="h3 mt-5">Information We Collect</h2>
    <ul>
        <li><strong>Non-personal Information:</strong> We collect data such as your browser type, operating system, IP address, and browsing activity to improve our website's functionality and user experience.</li>
        <li><strong>Personal Information (Optional):</strong> We do not collect personal information unless you choose to provide it (for example, when submitting a contact form). This may include your name, email address, or any other details you choose to provide.</li>
    </ul>

    <h2 class="h3 mt-5">Use of Information</h2>
    <p>We use the collected information to:</p>
    <ul>
        <li>Analyze usage patterns on our website and improve the user experience.</li>
        <li>Communicate with you (if you have opted to provide your contact information).</li>
    </ul>
    <p>We do not share your personal information with third parties without your consent.</p>

    <h2 class="h3 mt-5">Cookies</h2>
    <p>We may use cookies to improve the user experience on our website. Cookies store small amounts of data on your device to remember your preferences and settings. You can disable cookies in your browser settings, but this may limit your ability to use certain features of the website.</p>

    <h2 class="h3 mt-5">Changes to this Policy</h2>
    <p>We may update this privacy policy from time to time. Any changes will be posted on this page, and we encourage you to review it periodically.</p>

    <h2 class="h3 mt-5">Contact Us</h2>
    <p>If you have any questions about this privacy policy, please contact us at contact@jeeaitech.com.</p>
</div>

