@{
    Layout = "~/Views/Shared/_InformationLayout.cshtml";
}
@{
    ViewData["Title"] = "Smart Budget Tracker: Protecting Your Financial Data - Terms and Conditions";
}
<h1>@ViewData["Title"]</h1>

<div class="container py-5">
    <p>Welcome to the Budget Tracker website (https://www.budgetplannertool.com). These terms and conditions ("Terms") govern your use of our website and the services we provide.</p>

    <h2 class="h3 mt-5">Intellectual Property</h2>
    <p>The content, features, and functionality on the Budget Tracker website are the exclusive property of Budget Tracker. They are protected by copyright and other intellectual property laws.</p>

    <h2 class="h3 mt-5">Links to External Websites</h2>
    <p>Our website may contain links to third-party websites. We do not control or endorse these external websites and are not responsible for their content or policies.</p>

    <h2 class="h3 mt-5">Termination</h2>
    <p>We reserve the right to terminate your access to the website if you violate these terms. Any provisions of these terms that should survive termination (such as intellectual property rights) will remain in effect.</p>

    <h2 class="h3 mt-5">Governing Law</h2>
    <p>These terms are governed by and construed in accordance with the laws of [your state or country], without regard to its conflict of law provisions.</p>

    <h2 class="h3 mt-5">Changes to These Terms</h2>
    <p>We may update these terms from time to time. We will post any changes on this page, and you are advised to review them periodically.</p>

    <h2 class="h3 mt-5">Contact Us</h2>
    <p>If you have any questions about these terms, please contact us at contact@jeeaitech.com.</p>
</div>
